@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center mt-5">
    <h1 class="display-4">Access Denied</h1>
    <p class="lead">Anda tidak memiliki akses ke halaman ini.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Kembali ke Home</a>
</div>
